# Add your API keys here
# If left blank, the app will try to use anonymous tokens and web scraping.

# Your Musixmatch token (optional, will request anonymous desktop token if blank)
MUSIXMATCH_TOKEN=

# Your Genius Client Access Token (optional, will scrape search results if blank)
GENIUS_ACCESS_TOKEN=
