--extra-index-url https://download.pytorch.org/whl/cu121
torch
fastapi
uvicorn
ytmusicapi
yt-dlp
requests
beautifulsoup4
pydub
faster-whisper
numpy
python-dotenv
unidecode
torchcodec
soundfile
librosa
stable-ts
